@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


*{
    font-family: sans-serif;
}
header{
    background: #FFF8F3;
}
header section{
    background-image: url(/images/developer.png), url(/images/header_bg.png);
    background-repeat: no-repeat;
    background-position: left top, right bottom;
    margin: 0 50px 0 20px;
    background-size: 7%, 50%;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 100px 0 100px;
}
nav h3{
    font-size: 45px;
    font-weight: 900;
}
nav h3 span{
    color: #FD6E0A;
}
nav ul{
    display: flex;
    column-gap: 30px;
    align-items: center;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: black;
}
.btn-primary{
    padding: 10px 16px;
    color: white;
    background: #FD6E0A;
    font-weight: bold;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}
.btn-secondary{
    padding: 10px 16px;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid #FD6E0A;
    border-radius: 5px;
    color: #FD6E0A;
    margin-left: 20px;
    background: white;
}
.banner{
    display: flex;
    justify-content: space-between;
}
.identity-content{
    margin-left: 120px;
    width: 35%;
    align-content: center;
}
.greeting{
    font-size: 30px;
    font-weight: 700;
    color: #474747;
}
.heading{
    font-size: 55px;
    font-weight: 800;
    color: #181818;
    margin-bottom: 0px;
}
.description{
    font-size: 16px;
    font-weight: 600;
    color: #757575;
    line-height: 30px;
    text-align: justify;
}

.profile-pic{
    width: 40%;
}
.about-section{
    width: 70%;
    padding: 80px;
    margin: 100px auto;
    background: #FFF8F3;
    border-radius: 10px;

}
.about{
    border: 1px solid black;
    background: white;
    padding: 20px;
}
.info{
    display: flex;
    justify-content: space-between;
}
.info > div{
    text-align: center;
}
.about-heading{
    text-align: center;
    font-size: 24px;
}
.about-description{
    text-align: justify;
    color: #757575;
    font-size: 14px;
    line-height: 20px;

}
.bottom-info{
    font-weight: bold;
    font-size: 16px;
}
.skills{
    width: 80%;
    margin: 100px auto;    
}
.skills-description{
    width: 80%;
    margin: 20px auto;
    text-align: center;
    color: #757575;
    line-height: 20px;
}
.card-framework{
    font-size: 16px;
}
.skill-description{
    text-align: justify;
    color: #757575;
    font-size: 14px;
} 
.skill-card{
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
    padding: 5px;
}
.card{
    box-shadow: 2px 2px 8px 0px;
    padding: 10px;
    border-radius: 5px;
}
.resume-content{
    display: flex;
    column-gap: 100px;
}
.resume-summery{
    width: 70%;
    margin: 20px auto;
    line-height: 20px;
}
.resume-heading{
    font-size: 18px;
    color: #474747;
}
.resume-degree{
    font-size: 16px;
    color: #474747;
    margin-bottom: 5px;
}
.resume-institute{
    font-size: 14px;
    color: #757575;
    font-weight: 500;
    margin-top: 0px;
}
.resume-description{
    font-size: 13px;
    color: #757575;
}
.resume-border-bottom{
    border: 1px solid #D1D1D1;
}
.btn-resume{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
}
footer{
    background: #FFF8F3;
}
.footer{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 50px auto; 
    column-gap: 100px;
    padding-top: 50px;
    padding-bottom: 50px; 
}
.footer-heading{
    font-size: 24px;
}
.footer-description{
    font-size: 13px;
    color: #757575;
    line-height: 20px;
    text-align: justify;
}
.footer-left{
    width: 40vw;
}
.footer-left div{
    display: flex;
    column-gap: 20px;    
}
.footer-right{
    width: 40vw;
}
.form-name{
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    border: none;
    padding-left: 10px;
}
.form-email{
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    border: none;
    padding-left: 10px;
}
form textarea{
    width: 100%;
    border: none;
    padding-left: 10px;
    padding-top: 4px;
    margin-bottom: 20px;
}
.hide{
    display: none;
}

/* media query for small device */
@media screen and (max-width: 576px) {
    body{
        margin: 20px;

    }
    
    .skills{
        width: 100%;
        margin: 20px auto;
    }
    .skills-description{
        width: 80%;
        text-align: justify;
        color: #757575;
        line-height: 18px;
    }
    .skill-card{
        column-gap: 30px;
        padding: 5px;
        flex-direction: column;
    }
    .card{
        margin-bottom: 20px;
        box-shadow: 2px 2px 2px 2px darkorange;
    }
    .about-section{
        width: 80%;
        padding: 20px;
        margin: 20px auto;    
    }
    .info{
        flex-direction: column;
    }
    .footer{
        flex-direction: column;
        width: 90%;
        margin: 20px auto; 
        padding-top: 20px;
        padding-bottom: 20px; 
    }
    .footer-left{
        width: 80vw;
    }
    .footer-right{
        width: 80vw;
    }
    .resume-content{
        flex-direction: column;
    }
    .resume-summery{
        width: 100%;
        margin: 20px auto;
        line-height: 20px;
    }
    .banner{
        flex-direction: column-reverse;
    }
    .identity-content{
        margin-left: 20px;
        width: 100%;
    }
    .greeting{
        font-size: 22px;
    }
    .heading{
        font-size: 30px;
    }
    .description{
        font-size: 14px;
        line-height: 20px;
        width: 90%;
    }
    header section{
        background-image: url(/images/header_bg.png);
        margin: 0px;
        background-size: 0px;
    }
    nav{
        margin: auto;
        flex-direction: column;
    }
    nav h3{
        font-size: 25px;
    }
    
    nav ul{
        flex-direction: column;
        margin: auto;
    }
    nav ul li{
        margin-bottom: 10px;

    }
    .profile-pic{
        width: 80%;
        margin: auto;
    }
    .btn-primary{
        padding: 8px 12px;
        font-size: 14px;
        border-radius: 5px;
    }
    .btn-secondary{
        padding: 8px 12px;
        font-size: 14px;
        border: 1px solid #FD6E0A;
        border-radius: 5px;
        color: #FD6E0A;
        margin-left: 20px;
    }
    
}